{% extends 'base.html' %}

{% block title %}Meine Parkplätze{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h3>Meine Parkplätze</h3>
{% if ps %}
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Aktiv</th>
                <th>Name</th>
                <th>von</th>
                <th>bis</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
          {% for parkingspace in ps %}
              <tr>
                {% if parkingspace.valid_from > today or parkingspace.valid_to < today %}
                    <td><a class="btn btn-danger btn-sm" title="Der Parkplatz steht noch nicht, oder nicht mehr zur Verfügung."><i class="bi bi-dash-circle"></i></a></td>
                    {% else %}
                    <td><a class="btn btn-success btn-sm" title="Der Parkplatz ist aktiv."><i class="bi bi-check-circle"></i></a></td>
                  {% endif %}
                  <td>{{ parkingspace.name }}</td>
                  <td>{{ parkingspace.valid_from }}</td>
                  <td>{{ parkingspace.valid_to }}</td>
                  <td>
                      <a class="btn btn-info btn-sm" href="{% url 'parking_space_edit' parking_space_id=parkingspace.id %}">
                        <i class="bi bi-pen"></i>
                      </a>
                      <a class="btn btn-danger btn-sm" href="{% url 'parking_space_delete' parking_space_id=parkingspace.id %}">
                        <i class="bi bi-trash"></i>
                      </a>
                      <a class="btn btn-primary btn-sm" href="{% url 'manage_recurrings' parking_space_id=parkingspace.id %}">
                        <i class="bi bi-calendar3"></i> Regelmäßige Freigaben
                      </a>
                      <a class="btn btn-primary btn-sm" href="{% url 'manage_representatives' parking_space_id=parkingspace.id %}">
                        <i class="bi bi-person-square"></i> Vertretungen
                      </a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    <div class="col-md-12 text-right">
       <a role=button href="{% url 'parking_space_add' %}" class="btn btn-success">Weiteren Parkplatz hinzufügen</a>
    </div>
    </div>
{% else %}
    <p>Noch hast Du keine Parkplätze. Möchtest Du einen <a href="{% url 'parking_space_add' %}">anlegen</a>?</p>
{% endif %}

{% if reps %}
    <hr>
    <h3>Vertretungen</h3>
        Für folgende Parkplätze bist Du als Vertretung eingetragen:<br>
        <ul>
            {% for r in reps %}
                <li>{{ r.parking_space.name }} von {{ r.parking_space.owner }}</li>
            {% endfor %}
        </ul>

{% endif %}
{% endblock %}