<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Versionshinweise{% endblock %}

{% block content %}
    <h3>Version 1.0.20211213</h3>
    <div>Feature:
        <ul>
            <li>Auch ein/e Parkplatzbesitzer/in kann nun einen fremden Parkplatz buchen, wenn dieser freigegeben wurde.
                Dafür muss der eigene Parkplatz dann aber freigegeben worden sein. Solange der andere Parkplatz von ihm/ihr
                gebucht ist, kann die Freigabe des eigenen Parkplatzes nicht aufgehoben werden. Ebenso ist in dieser
                Konstellation keine Zurückforderung möglich. Dafür muss die Reservierung des anderen Parkplatzes
                erst gelöscht werden.</li>
            <li>Der Besitzer/die Besitzerin eines Parkplatzes wird nun auch namentlich in der Übersicht angezeigt.</li>
        </ul>
    </div>
    <div>Fehlerbehebung:
        <ul>
            <li>Das Passwort wurde nicht korrekt gespeichert. Der Fehler wurde korrigiert.</li>
            <li>Nach einer Passwortänderung wurde auf die falsche Seite verlinkt.</li>
        </ul>
    </div>
    <h3>Version 1.0.20211212</h3>
    <p>Dies ist die Startversion</p>
{% endblock %}